<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" lang="en">
<body>

<form th:fragment="detailsForm" th:action="@{/editdetails}" th:object="${recipe}" method="post">

    <input type="hidden" th:value="${recipe.id}" name="id">

    <label path="name">Name</label>
    <input type="text" name="name" th:value="${recipe.name}"/>

    <label path="description">Description</label>
    <textarea name="description" th:text="${recipe.description}"></textarea>

    <div class="row">
        <div class="col-lg-4">
            <ul class="form-list">
                <lil>
                    <input type="radio" name="vegetarian" id="vegetarian" value="True" th:field="*{vegetarian}"/>
                    <label for="vegetarian">Vegetarian Friendly</label>
                </lil>
                <li>
                    <input type="radio" name="vegetarian" id="nonVegetarian" value="False" th:field="*{vegetarian}"/>
                    <label for="nonVegetarian">Non Vegetarian</label>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 form-list">
            <ul>
                <li>
                    <input type="radio" name="vegan" id="vegan" value="True" th:field="*{vegan}"/>
                    <label for="vegan">Vegan Friendly</label>
                </li>
                <li>
                    <input type="radio" name="vegan" id="nonVegan" value="False" th:field="*{vegan}"/>
                    <label for="nonVegan">Non Vegan</label>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 form-list">
            <ul>
                <li>
                    <input type="radio" name="glutenFree" id="glutenFree" value="True" th:field="*{glutenFree}"/>
                    <label for="glutenFree">GutenFree</label>
                </li>

                <li>
                    <input type="radio" name="glutenFree" id="nonGlutenFree" value="False" th:field="*{glutenFree}" />
                    <label for="nonGlutenFree">Non GutenFree</label>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <label path="prepTime">Prep Time</label>
            <input type="text" name="prepTime" th:value="${recipe.prepTime}" />
        </div>
        <div class="col-lg-6">
            <label path="cookTime">Cook Time</label>
            <input type="text" name="cookTime" th:value="${recipe.prepTime}" />
        </div>
    </div>

    <label path="serves">Number Served</label>
    <input type="number" name="serves" th:value="${recipe.serves}"/>

    <input type="submit" value="Update">
</form>

</body>
</html>


