<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" lang="en">
<body>

<form th:fragment="ingredientForm" th:action="@{/addingredients}" method="post">

    <input type="hidden" th:value="${recipe.id}" name="recipe_id">
    <div class="row">
        <div class="col-lg-6">
            <label path="name">Name</label>
            <input type="text" name="name" />
        </div>
        <div class="col-lg-3">
            <label path="measurement">Measurement</label>
            <input type="text" name="measurement" />
        </div>
        <div class="col-lg-3">
            <label path="amount">Amount</label>
            <input type="number" placeholder="1.0" step="0.01" name="amount" />
        </div>
    </div>

    <input type="submit" value="Add Ingredient">
</form>

</body>
</html>


