/* global styles */
ol, ul {
    padding: 0;
}
li {
    list-style: none;
}
.bold {
    font-weight: bold;
}
.content {
    box-sizing: border-box;
    margin: auto;
    min-height: 100vh;
    max-width: 800px;
}
.page-header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}
.centered {
    margin: auto;
}
/* index styles */
.rec-card {
    box-shadow: 4px 4px 8px grey;
    color: black;
    margin: 1rem auto;
    padding: 1em;
    max-width:800px;
    text-decoration: none;
}
.rec-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}
.thumb {
    max-height: 20px;
    width: auto;
}
.rec-img img {
    max-height:167px;
    width: auto;
}
.rec-img-lg img{
    max-height: 300px;
    max-width: 500px;
    width: auto;
}
.brn-col {
    color: brown;
}
.grn-col {
    color: green;
}
.desc {
    margin: 5px;
    height: 75px;
    width: 300px;
}
.recipe {
    margin: auto;
    max-width: 500px;
}
.iso-btn {
    margin: 1rem auto;
}
/* form styles */
form {
    max-width: 550px;
}
input[type=text],
input[type=email],
input[type=number]{
    width: 100%;
}
textarea {
    height: 5rem;
    width: 100%;
}
.form-list {
    padding: 0;
}
/* list style*/
.checked {
    text-decoration: line-through;
}
.list-item {
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.btn-trans {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    margin-left: 2rem;
    text-decoration: underline;
}
ul .list-item {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}
/* Set all odd list items to a different color (zebra-stripes) */
.list li:nth-child(odd) {
  background: #f9f9f9;
}
/* Darker background-color on hover */
ul .list-item:hover {
  background: #ddd;
}
/* footer styles */
.footer {
    background: black;
    color: #ccc;
    margin: 0;
    text-align: center;
    width: 100%;
}
.footer-col {
    margin: 0;
    padding: 10px;
}
.footer-col a {
    color: #ccc;
}


/* media queries */
@media (max-width: 576px) {
    .rec-img {
        margin: 3rem auto;
    }
    .rec-img-lg img{
        max-width: 350px;
    }
    .list-item {
        max-width: 350px;
    }
    ul .list-item {
      padding: 12px 5px;
    }
}