<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" lang="en" th:replace="~{partial/layout :: layout(~{::title}, ~{::.content})}">
<head>
    <title>Create Recipe</title>
</head>
<body>
    <div class="content">
        <h3>Edit Details</h3>
        <form th:replace="partial/forms/detailsForm::detailsForm"></form>

        <h3>Ingredients</h3>
        <ul>
            <li th:each="ingredient : ${recipe.recipeIngredients}"
                th:text="${ingredient.ingredient.name} + ' ' + ${ingredient.amount} + ' ' + ${ingredient.type}">
            </li>
        </ul>

        <form th:replace="partial/forms/ingredientForm"></form>

        <h3>Edit Instructions</h3>

        <div th:each="instruction, iStat : ${recipe.instructions}">
            <form th:action="@{/editInstructions}" method="post">

                <input type="hidden" th:value="${recipe.id}" name="recipe_id">
                <input type="hidden" th:value="${instruction.id}" name="id">

                <label path="text" th:text="'Step ' + ${iStat.index+1} + ')'" class="bold"></label>
                <textarea name="text" th:text="${instruction.text}"></textarea>

                <input type="submit" name="update" value="Update">
                <input type="submit" name="delete" value="Delete">
            </form>

        </div>

        <form th:replace="partial/forms/instructionsForm"></form>

    </div>
</body>
</html>