<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" lang="en" th:replace="~{partial/layout :: layout(~{::title}, ~{::.content})}">
<head>
    <title>View Recipe</title>
</head>
<body>

<div class="content">

    <h3 class="page-header">Login</h3>

    <form th:action="@{/login}" method="post" class="centered">
        <label path="username">Email: </label>
        <input type="email" name="username" />

        <label path="password">Password: </label>
        <input type="text" name="password" />

        <input type="submit" value="Login" />

    </form>

    <a th:href="@{/sign-up}" class="centered">Create New Account</a>

</div>

</body>
</html>