<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" lang="en" th:replace="~{partial/layout :: layout(~{::title}, ~{::.content})}">
<head>
    <title>View Recipe</title>
</head>
<body>

    <div class="content">

        <div th:object="${recipe}" class="recipe my-3 row">

            <!--recipe info-->
            <div class="row">
                <div class="row title-row">
                    <div>
                        <div th:text="${recipe.name}" class="rec-title"></div>

                        <img th:if="${recipe.vegetarian}" th:src="@{/images/vegetarian.jpg}" class="thumb">
                        <span th:if="${recipe.vegetarian}">Veg</span>

                        <img th:if="${recipe.vegan}" th:src="@{/images/vegan.jpg}" class="thumb">
                        <span th:if="${recipe.vegan}">V</span>

                        <img th:if="${recipe.glutenFree}" th:src="@{/images/gluten_free.jpg}" class="thumb">
                        <span th:if="${recipe.glutenFree}">GF</span>
                    </div>
                </div>

                <div class="row">
                    <div class="">
                        Prep Time:
                        <span th:text="${recipe.cookTime}"></span>
                        | Cook Time:
                        <span th:text="${recipe.prepTime}"></span>
                    </div>
                </div>
            </div>

            <!-- recipe description -->
            <div class="row my-3">
                <div th:text="${recipe.description}"></div>
            </div>
            <form th:action="@{/addToList}" method="post">
                <input type="hidden" th:value="${recipe.id}" name="id">
                <input type="submit" value="Add Ingredients To Shopping List" class="iso-btn">
            </form>

            <div class="row">
                <div class="rec-img-lg">
                    <img src="/images/meal.jpg">
                </div>
            </div>


            <div class="rec-title">Ingredients</div>
            <div class="row">
                <ul>
                    <li
                            th:each="ingredient : ${recipe.recipeIngredients}"
                            th:text="${ingredient.ingredient.name} + ' ' + ${ingredient.amount} + ' ' +${ingredient.type}"
                            class="col">
                    </li>
                </ul>
            </div>

            <div class="rec-title">Directions</div>
            <div th:text="${recipe.getInstructions()}"></div>
        </div>

            <a th:href="@{'/edit/' + ${recipe.id}}"><button>Edit Recipe</button></a>


    </div>

</body>
</html>