<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      th:replace="~{partial/layout :: layout(~{::title}, ~{::.content})}">

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Recipes</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/login">Login</a>
            </li>

            <li class="nav-item dropdown" sec:authorize="isAuthenticated()" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/createrecipe">Create Recipe</a>
                    <a class="dropdown-item" href="/myrecipes">My Recipes</a>
                    <a class="dropdown-item" href="/shoppinglist">My Shopping List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>

        </ul>
    </div>

</nav>

</body>
</html>


